torch==1.13.1
torchvision==0.14.1
torchaudio==0.13.1
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
torch-geometric
gensim==4.3.0
flask>=2.0
numpy>=1.17
requests>=2.27
ray==2.2.0
ray[tune]
matplotlib==3.6.3
wandb==0.12.21
torchmetrics==0.11.0
tqdm
